<nav class="navbar navbar-expand-lg py-0">
    <div class="container border-bottom py-lg-6 py-5">
      <a class="navbar-brand" href="/pages/index.html">Vivre</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex me-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="搜尋文章" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">搜尋</button>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0 align-items-lg-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/pages/index.html">所有文章</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/subscription.html">訂閱方案</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/about.html">關於我們</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-secondary-200" href="/pages/login_signup.html" role="button">登入 / 註冊</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>